[[source]]
name = "aliyun"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
mkdocs = "*"
mkdocs-material = "*"
pygments = "*"
pymdown-extensions = "*"
mkdocs-minify-plugin = "*"
mkdocs-git-revision-date-localized-plugin = "*"
pyyaml = "*"
mdx-truly-sane-lists = "*"

[requires]
python_version = "3.6"
